* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

body {
    background: url(./sayagata.png) repeat 0 0;
}

code {
    font-family: 'Source Code Pro', monospace;
    white-space: pre;
    color: black !important;
}

#content {
    background-color: #ecedee;
    min-height: 100vh;
    max-height: 100vh;
    border-left: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
}

.title {
    height: 83px;
    text-align: center;
}

.subtitle {
    height: 70px;
    text-align: center;
}

.bottom-spacer {
    height: 50px;
}

.frame {
    width: 100%;
    height: 100%;
}

.content {
    max-height: calc(100vh - (83px + 50px));
    overflow: hidden;
}

.project-structure-row {
    border: 3px solid #dddddd;
}

.project-structure-wrapper {
    min-height: calc(100vh - (83px + 70px + 50px + 6px)) !important;
    max-height: calc(100vh - (83px + 70px + 50px + 6px));
    overflow: auto;

    background-color: #f6f6f6;
}

.project-structure-wrapper * {
    font-size: 16px !important;
    line-height: 20px;
}

.project-structure, .project-structure-link, .project-structure-folder {
    padding: 0;
    margin: 0 0 0 30px;
}

.project-structure-folder {
    font-weight: bold;
}

.project-structure-folder, .project-structure-link {
    cursor: pointer;
}

.project-structure {
    border-left: 1px dashed #b4b4b4
}

.code-frame-row {
    height: calc((100vh - (83px + (2 * 70px) + 50px)) / 2);
    border: 3px solid #dddddd;
    padding: 0 !important;
}

.description-frame-row {
    height: calc((100vh - (83px + (2 * 70px) + 50px)) / 2);
    border: 3px solid #dddddd;
    padding: 0 !important;
}